In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('train.csv')

In [3]:
df.isnull().mean()
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [4]:
df.drop(['Cabin','Name','PassengerId','Ticket'],axis=1,inplace=True)

In [5]:
Pclass_fare=df.groupby('Pclass')
Pclass_fare['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [6]:
Pclass_Fare_1=84.154687
Pclass_Fare_2=20.662183
Pclass_Fare_3=13.675550

In [7]:
x=df.drop(['Survived'],axis=1)
y=df['Survived'].values
x.head(10)

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S
5       3    male   NaN      0      0   8.4583        Q
6       1    male  54.0      0      0  51.8625        S
7       3    male   2.0      3      1  21.0750        S
8       3  female  27.0      0      2  11.1333        S
9       2  female  14.0      1      0  30.0708        C

In [8]:
x['Embarked'].value_counts()
x['Embarked'].fillna('S')

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [9]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
tr1=ColumnTransformer([
    ('put_age',SimpleImputer(),['Age']),
    ('put_sex',OneHotEncoder(sparse=False,drop='first'),['Sex']),
    ('Embarked',OneHotEncoder(sparse=False,drop='first',),['Embarked'])],remainder='passthrough')
x=tr1.fit_transform(x)

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=0)
x

array([[22.        ,  1.        ,  0.        , ...,  1.        ,
         0.        ,  7.25      ],
       [38.        ,  0.        ,  0.        , ...,  1.        ,
         0.        , 71.2833    ],
       [26.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  7.925     ],
       ...,
       [29.69911765,  0.        ,  0.        , ...,  1.        ,
         2.        , 23.45      ],
       [26.        ,  1.        ,  0.        , ...,  0.        ,
         0.        , 30.        ],
       [32.        ,  1.        ,  1.        , ...,  0.        ,
         0.        ,  7.75      ]])

In [11]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,Y_train)

c:\Users\acer\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
Y_predict=lr.predict(X_test)

In [13]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, Y_predict)
print(cm)
accuracy_score(Y_test, Y_predict)

[[93 17]
 [16 53]]

0.8156424581005587

In [22]:
import time as ti
def titanic():
    print("Enter your age:")
    AGE=int(input())
    print("Enter your Pclass:")
    PCLASS=int(input())
    print("Enter your Sex:\nEnter:1 if you are a Male\nEnter:0 if you are a Female")
    SEX=int(input())
    print("Enter the number of sibling or spouse with you in the titanic:")
    SIB=int(input())
    print("Enter the number of elders(parents,aunt,uncle,grandparents) with you in the titanic:")
    PAR=int(input())
    if(PCLASS==1):
        FARE=Pclass_Fare_1
    elif(PCLASS==2):
        FARE=Pclass_Fare_2
    else:
        FARE=Pclass_Fare_3
    sur=lr.predict([[AGE,SEX,0,1,0,PCLASS,SIB,PAR,FARE]])
    print("Predicting if you would be alive or dead after the titanic disastar .............")
    ti.sleep(4)
    if(sur==1):
        print("ALIVE")
    else:
        print("DEAD")
print("TITANIC SURVIVAL PREDICTION:")
titanic()

TITANIC SURVIVAL PREDICTION:
Enter your age:
Enter your Pclass:
Enter your Sex:
Enter:1 if you are a Male
Enter:0 if you are a Female
Enter the number of sibling or spouse with you in the titanic:
Enter the number of elders(parents,aunt,uncle,grandparents) with you in the titanic:
Predicting if you would be alive or dead after the titanic disastar .............
DEAD